<footer>
    <div class="social">
        <h2>Connect With Us</h2>
        <div class="icons">
        <a href="https://www.facebook.com/animenerdzja" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/anjofficial_2022/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://twitter.com/anj876?lang=en" target="_blank">
            <i class="fa-brands fa-twitter"></i>
        </a>
        </div>
    </div>
    <div class="invite">
        <div class="chibi1">
            <img src="https://cdn.discordapp.com/attachments/885520208280825886/1009874093979480064/2431481d79689725cc9fa219c8f54287-removebg-preview.png" alt="">
            <img src="https://cdn.discordapp.com/attachments/885520208280825886/1009874094675730503/f38f1e8e35f8f582b9d44ee419a0e153-removebg-preview.png" alt="">
        </div>
        <div class="invtext">
            <h3>We Welcome All to Join and Have an Amazing Time With Us</h3>
        </div>
        <div class="chibi2">
            <img src="https://cdn.discordapp.com/attachments/885520208280825886/1009874095262937128/54-545791_anime-kawaii-kawaii-chibi-cute-chibi-anime-chibi-removebg-preview.png" alt="">
            <img src="https://cdn.discordapp.com/attachments/885520208280825886/1009874095732691054/523-5235291_chibi-itachi-cute-itachi-uchiha-chibi-hd-png-removebg-preview.png" alt="">
        </div>
    </div>
    <div class="infoCon">
        <div class="info">
            <div class="fLogo">
                <img src="https://cdn.discordapp.com/attachments/300029742424260608/960539228461228112/271180995_3083180495289841_8136281419341816088_n-removebg-preview.png" alt="">
                <h2>ANIME NERDS OF JAMAICA</h2>
            </div>
            <div class="contact">
                <h3>Contact Us</h3>
                <i class="fa-solid fa-phone"> +1 (876) 460-9701</i>
                <i class="fa-solid fa-envelope"> animenerdsja@gmail.com</i>
            </div>
        </div>
       
        <div class="copyright">
            <mat-divider></mat-divider>
            <p>Copyright © Society for the Promotion of Japanese Animation 2022. All rights reserved.</p>
        </div>
    </div>
    <mat-divider></mat-divider>
</footer>