<app-navbar></app-navbar>
<div class="banner">
    <div class="bannerCon">
        <h1>PAST EVENTS</h1>
        <p>No matter what you’re interested in — from cosplay, to gaming and everything in between — we’ve got something up our sleeve for everyone. Buckle up for an adventure and get ready to dive into an endless stream of things to do!</p>
    </div>
</div>
<div class="container">
    <div class="events">
        <div class="info" *ngFor="let event of events; let x=index">
            <img src="https://anime-nerds-of-jamaica.herokuapp.com/{{event.eventImg}}" alt="">
            <div class="content">
                <p>Event Name:{{event.eventName}}</p>
                <p> Date: {{event.eventDate}}</p>
                <p>Location: {{event.location}}</p>
            </div>
            <div class="more">
                <p (click)="openDialog(x)">View More</p>
            </div>
        </div>
    </div>
    <div class="notif">
        <div class="details">
            <h2>Take a Look At Our Past Events and Join Us in the Future</h2>
            <img src="https://cdn.discordapp.com/attachments/885520208280825886/1011852272180936764/77-774244_anime-girl-waving-png-transparent-png-removebg-preview.png" alt="">
        </div>
    </div>
</div>
<app-footer></app-footer>