<app-navbar></app-navbar>
<div class="banner">
    <div class="bannerCon">
        <h1>Coming EVENTS</h1>
        <p>No matter what you’re interested in — from cosplay, to gaming and everything in between — we’ve got something up our sleeve for everyone. Buckle up for an adventure and get ready to dive into an endless stream of things to do!</p>
    </div>
</div>
<div class="container">
    <div class="events">
        <div class="info" *ngFor="let event of events; let x=index">
            <img src="http://localhost:4000/{{event.eventImg}}" alt="">
            <div class="content">
                <p>Event Name:{{event.eventName}}</p>
                <p> Date: {{event.eventDate}}</p>
                <p>Location: {{event.location}}</p>
            </div>
            <div class="more">
                <p (click)="openDialog(x)">View More</p>
            </div>
        </div>
    </div>
    <div class="notif">
        <div class="details">
            <h2>Join Us For These Up and Coming Events</h2>
            <img src="https://cdn.discordapp.com/attachments/885520208280825886/1011981143991656478/147-1479770_toshiro-hitsugaya-from-bleach-tshir-hitsugaya-removebg-preview.png" alt="">
        </div>
    </div>
</div>
<app-footer></app-footer>
