<header>
    <nav>
        <div class="logo">
            <img src="https://cdn.discordapp.com/attachments/300029742424260608/960539228461228112/271180995_3083180495289841_8136281419341816088_n-removebg-preview.png" alt="">ANIME NERDS OF JAMAICA
        </div>
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active">Home</a> 
            </li>
            <li>
                <a routerLink="/subscription" routerLinkActive="active">Subscribe</a> 
            </li>
            <li>
                <a routerLink="/past" routerLinkActive="active">Past Events</a> 
            </li>
            <li>
                <a routerLink="/coming" routerLinkActive="active">Coming Events</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active">About Us</a>
            </li>
        </ul>
        <a routerLink="/log" routerLinkActive="active" class="log">Login</a>
    </nav>
</header>