<header>
    <div class="logo">
        <img src="https://cdn.discordapp.com/attachments/300029742424260608/960539228461228112/271180995_3083180495289841_8136281419341816088_n-removebg-preview.png" alt="">
        <h1>ANJ Admin</h1>
    </div>
    <ul>
        <li> 
            <a href="/main">View Subscribers</a> 
        </li>
        <li> 
            <a href="/events">View Events</a> 
        </li>
        <li> 
            <a href="/addSub">Add Subscriber</a> 
        </li>
        <li> 
            <a href="addEvent">Add Event</a> 
        </li>
    </ul>
    <div class="log">
        <button (click)="onLogOut()">Logout</button>
    </div>
</header>
