/* You can add global styles to this file, and also import other style files */
*{
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

::-webkit-scrollbar{
    width:0.7vw
}


::-webkit-scrollbar-track{
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.253);
}


::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(27, 139, 5);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(10, 59, 1);
}

html, body { 
    height: 100%;
}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x:hidden ;
    width:100%;
}
