<app-navbar></app-navbar>
<div class="container">
    <div class="landing">
        <div class="overlay">
            <div class="overlayImg">
                <img src="https://cdn.discordapp.com/attachments/300029742424260608/960537783045345300/56459515_2278904229050809_7018180181768536064_n.jpg" alt="">
                <img src="https://cdn.discordapp.com/attachments/300029742424260608/960537781711544350/56874344_2279292502345315_4613093638124077056_n.jpg" alt="">
                <img src="https://cdn.discordapp.com/attachments/300029742424260608/960537865517940798/79163189_2474870219454208_300678668844269568_n.jpg" alt="">
                <img src="https://cdn.discordapp.com/attachments/300029742424260608/960893789365497966/IMG-20190331-WA0030.jpg" alt="">        
            </div>
        </div>
    </div>
</div>
<!-- <div class="parallax">
    
    <div class="background">
        <img src="https://cdn.discordapp.com/attachments/885520208280825886/1010215615836983416/677-6770606_ichigo-hollow-mask-bankai-hd-png-download-removebg-preview.png" alt="" class="ichigo">
        <h2> WE ARE ANIME NERDS OF JAMAICA</h2>    
        <img src="https://cdn.discordapp.com/attachments/885520208280825886/1009831014983532605/dd9d6rl-38779e76-88ee-4d9d-8444-8e550fbac1c6.png" alt="" class="soifon">
    </div>
    <div class="soul"></div>
</div> -->
<div class="welcome">
    <img src="https://cdn.discordapp.com/attachments/885520208280825886/1009855716313542746/58-585608_svg-free-library-black-sparkles-clip-art-at-removebg-preview.png" alt="" class="bayoback">
    <img src="https://cdn.discordapp.com/attachments/885520208280825886/1009848689042411550/Divider-Line-03.png" alt="" class="divide">
    <img src="https://cdn.discordapp.com/attachments/885520208280825886/1009837487381807187/41042b0a8a62e1d7655ce385a8681fe2-removebg-preview.png" alt="" class="bayonetta">
    <div class="welcometext">
        <mat-divider></mat-divider>
        <h1>Welcome to ANJ</h1>
        <div class="text">
            <p>We bring anime to Jamaica in our own way for all fans island wide who want to enjoy such events with like minded persons. </p>
            <p>At our events you can experience the Thriving communitys of Dancers, Anime watchers, Manga readers as well as Gamers.</p>
            <p>Join The Fun Today</p>
            <a>Get Updates!</a>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>
<app-footer></app-footer>
