<app-navbar></app-navbar>
<div class="container">
    <div class="landing">
        <div class="overlay">
            <div class="overlayImg">
                <img src="https://cdn.discordapp.com/attachments/300029742424260608/960537783045345300/56459515_2278904229050809_7018180181768536064_n.jpg" alt="">
                <img src="https://cdn.discordapp.com/attachments/300029742424260608/960537781711544350/56874344_2279292502345315_4613093638124077056_n.jpg" alt="">
                <img src="https://cdn.discordapp.com/attachments/300029742424260608/960537865517940798/79163189_2474870219454208_300678668844269568_n.jpg" alt="">
                <img src="https://cdn.discordapp.com/attachments/300029742424260608/960893789365497966/IMG-20190331-WA0030.jpg" alt="">        
            </div>
        </div>
    </div>
</div>
<div class="events">
    <img src="https://cdn.discordapp.com/attachments/885520208280825886/1011285759346606080/download-purple-pink-illustration-abstract-png-11637221228epbhc7iqo3-removebg-preview_2.png" alt="" class="abstract">
    <img src="https://cdn.discordapp.com/attachments/885520208280825886/1011278619273871400/FImcQGBaQAAPgtF-removebg-preview.png" alt="" class="kuni">
    <div class="information">
        <h2>Events</h2>
        <h3>All year long we hold events for all anime lovers. We hope you all have your shadow clones ready to attend all our wondeful events</h3>
        <a href="">View Our Upcoming Events</a>
    </div>
</div>
<div class="welcome">
    <img src="https://cdn.discordapp.com/attachments/885520208280825886/1009855716313542746/58-585608_svg-free-library-black-sparkles-clip-art-at-removebg-preview.png" alt="" class="bayoback">
    <img src="https://cdn.discordapp.com/attachments/885520208280825886/1009848689042411550/Divider-Line-03.png" alt="" class="divide">
    <img src="https://cdn.discordapp.com/attachments/885520208280825886/1009837487381807187/41042b0a8a62e1d7655ce385a8681fe2-removebg-preview.png" alt="" class="bayonetta">
    <div class="welcometext">
        <mat-divider></mat-divider>
        <h1>Welcome to ANJ</h1>
        <div class="text">
            <p>We bring anime to Jamaica in our own way for all fans island wide who want to enjoy such events with like minded persons. </p>
            <p>At our events you can experience the Thriving communitys of Dancers, Anime watchers, Manga readers as well as Gamers.</p>
            <p>Join The Fun Today</p>
            <a>Get Updates!</a>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>

<app-footer></app-footer>
